@media (min-width: 1024px) {

   /* Footer */
   footer {
      padding-block: 8rem;
   }

   footer .wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'A B';
   }

   footer .col-a {
      align-self: center;
   }


   footer .col-b {
      align-self: center;
      justify-self: flex-end;
   }

   footer p {
      margin-bottom: 0
   }
}