@media (min-width: 1024px) {

   /* Home */
   #home::before {
      height: calc(76% + var(--nav-height));
   }

   #home {
      padding-top: var(--nav-height);
   }

   #home .wrapper {
      grid-template-columns: 60.5rem 1fr;
      grid-template-areas:
         'A B'
         'C C';
   }

   #home .col-a {
      text-align: left;
      align-self: center;
   }

   #home h1 {
      font-size: 5.2rem;
   }

   #home .content p {
      font-size: 1.8rem;
   }

   #home .stats {
      grid-area: C;

      flex-direction: row;
      padding: 6rem;
      gap: 0;
   }

   #home .stats .stat+.stat {
      border-left: 1px solid var(--primary-color);
   }

   #home .stats .stat {
      flex: 1;
   }

   #home .button {
      margin: 0;
   }
}