@media (min-width: 1024px) {

   /* Services */
   #services h2 {
      width: 47rem;
      margin-inline: auto;
   }

   #services .cards {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4rem;
   }

   #services .card {
      width: 30%;
      flex-grow: 1;
   }
}