HEAD:root {
   /* Definir a fonte assim para deixar o 1rem=10px */
   font-size: 62.5%;

   /* Cores */
   --hue: 670;

   --primary-color: hsl(var(--hue), 100%, 26%);
   --brand-light: hsl(var(--hue), 22%, 88%);
   --brand-hover: hsl(var(--hue), 100%, 14%);

   --headline: #212529;
   --paragraph: #495057;
   --brand-beige: #fffaf1;
   --bg-light: #f6f8f8;

   /* Tamanho do nav */
   --nav-height: 7.2rem;
}

@media (min-width: 1024px) {

   /* Style Geral */
   .wrapper {
      width: min(112rem, 100%);
      display: grid;
   }

   .col-a {
      grid-area: A;
   }

   .col-b {
      grid-area: B;
   }

   section {
      padding-block: 16rem;
   }

   section header h2 {
      font-size: 4rem;
      line-height: 5.2rem;
   }

   /* Navigation */
   /* Reset para o #navigartion */
   nav#navigation .wrapper * {
      margin: 0;
      padding: 0;
      visibility: initial;
      display: initial;
      opacity: initial;
      flex-direction: initial;
      position: initial;
      font-size: initial;
      transform: initial;
      color: initial;
      background-color: initial;
   }

   /* Escodendo as opções de menu-expanded */
   nav#navigation .open-menu,
   nav#navigation .close-menu,
   nav#navigation .social-links {
      display: none;
   }

   nav#navigation .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
   }

   nav#navigation .menu ul:nth-child(1) {
      display: flex;
      gap: 3.2rem;
   }

   nav#navigation .menu ul li a {
      color: var(--primary-color);
      opacity: 0.7;
   }

   nav#navigation .menu ul li a.active,
   nav#navigation .menu ul li a:hover,
   nav#navigation.scroll .menu ul li a:hover,
   nav#navigation.scroll .menu ul li a.active {
      opacity: 1;
   }

   nav#navigation.scroll .menu ul li a {
      color: var(--brand-light);
      transition: color 1s;
      opacity: 0.6;
   }

   nav#navigation .menu a.button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2.4rem;

      border: 1px solid var(--primary-color);
      border-radius: 40px;

      color: var(--primary-color);
      font-weight: 700;
      font-size: 1.4rem;
      text-transform: uppercase;
   }

   nav#navigation.scroll .menu a.button {
      box-sizing: border-box;
      color: #ffffff;
      border-color: #ffffff;
      transition: 1s color, 1s border;
   }

   nav#navigation .menu ul li a.active,
   nav#navigation .menu ul li a::after,
   nav#navigation.scroll .menu ul li a.active,
   nav#navigation.scroll .menu ul li a::after {
      transition: opacity 1s, width 0.2s;
   }

   nav#navigation .menu ul li a::after {
      content: '';

      background-color: var(--primary-color);
      width: 0;
      height: 2px;
      display: block;

      position: fixed;
      position: relative;
      bottom: -1.9rem;
      left: -0.5rem;

      opacity: 0;
   }

   nav#navigation.scroll .menu ul li a::after {
      background-color: #ffffff;
   }

   nav#navigation .menu ul li a.active::after,
   nav#navigation .menu ul li a:hover::after {
      padding-inline: 0.65rem;
      width: 100%;
      opacity: 1;
   }

   nav#navigation .menu a.active.button:hover,
   nav#navigation .menu a.button:hover {
      transition: 1s;
      color: #ffffff;
      background-color: var(--primary-color);
      filter: brightness(1.1);
      border: none;
   }

   nav#navigation.scroll .menu a.active.button:hover,
   nav#navigation.scroll .menu a.button:hover {
      transition: 1s;
      background-color: #ffffff;
      color: var(--primary-color);
   }

   /* Home */
   #home::before {
      height: calc(76% + var(--nav-height));
   }

   #home {
      padding-top: var(--nav-height);
   }

   #home .wrapper {
      grid-template-columns: 60.5rem 1fr;
      grid-template-areas:
         'A B'
         'C C';
   }

   #home .col-a {
      text-align: left;
      align-self: center;
   }

   #home h1 {
      font-size: 5.2rem;
   }

   #home .content p {
      font-size: 1.8rem;
   }

   #home .stats {
      grid-area: C;

      flex-direction: row;
      padding: 6rem;
      gap: 0;
   }

   #home .stats .stat+.stat {
      border-left: 1px solid var(--primary-color);
   }

   #home .stats .stat {
      flex: 1;
   }

   #home .button {
      margin: 0;
   }

   /* Services */
   #services h2 {
      width: 47rem;
      margin-inline: auto;
   }

   #services .cards {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4rem;
   }

   #services .card {
      width: 30%;
      flex-grow: 1;
   }

   /* About */
   #about .wrapper {
      grid-template-columns: 48rem 1fr;
      grid-template-areas: 'B A';
      gap: 6.7rem;
   }

   #about .col-a {
      align-self: center;
   }

   #about .content p {
      margin-bottom: 0;
   }

   /* Contact */
   #contact .wrapper {
      grid-template-columns: 1fr 57.5rem;
      grid-template-areas: 'A B';
   }

   #contact h2 {
      width: 40.4rem;
   }

   /* Footer */
   footer {
      padding-block: 8rem;
   }

   footer .wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'A B';
   }

   footer .col-a {
      align-self: center;
   }


   footer .col-b {
      align-self: center;
      justify-self: flex-end;
   }

   footer p {
      margin-bottom: 0
   }
}